<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header-page</title>
  <link rel="stylesheet" href="../../styles/header/header.css">
</head>
<body>
  <header>
    <section class="header-top">
      <div class="header-top-left">
        <div class="logo-box">
          <img
            class="logo-img"
            src="../../assets/images/init.png"
            alt="logo"
          />
        </div>
      </div>
      <div class="header-top-right">
        <div class="menu-box">
          <div class="menu-burger-box">
            <div class="menu-content-box">
              <div class="menu-content">
                <a class="menu-content-item" href="../../index.html" target="_blank">Home</a>
                <a class="menu-content-item" href="../../pages/selfinfo.html" target="_blank"
                  >About</a
                >
                <a class="menu-content-item" href="../../pages/projects.html" target="_blank"
                  >Projects</a
                >
                <a class="menu-content-item" href="../../pages/skills.html" target="_blank">Skills</a>
                <a class="menu-content-item" href="../../pages/contacts.html" target="_blank"
                  >Contact</a
                >
              </div>
            </div>
            <div class="menu-burger">
              <a class="menu-burger-img" href="#"
                ><img
                  src="../../assets/icons/icon-menu-burger.svg"
                  alt="menu"
              /></a>
            </div>
          </div>
          <div class="menu-user-box">
            <a class="menu-user-img" href="#"
              ><img src="../../assets/icons/icon-user.svg" alt="user"
            /></a>
          </div>
        </div>
      </div>
    </section>
    <section class="header-bottom">
      <div class="header-bottom-left">
        <div class="logo-name-box">
          <p class="logo-name">Elena Belkina</p>
        </div>
      </div>
      <div class="header-bottom-center">
        <div class="logo-prof-box">
          <p class="logo-prof">web-development</p>                
        </div>
      </div>
      <div class="header-bottom-right">
        <div class="lang-box">
          <div class="lang-name-box">
            <a class="lang-ref _active" href="projects.html">Eng</a> 
          </div>
          <div class="lang-name-box _end">
              <a class="lang-ref" href="../rus/pages/projects.html">Рус</a>  
          </div>
      </div>
      </div>
    </section>
  </header>
</body>
</html>
